{% extends 'base.html.twig' %}

{% block body %}

	<h1>Modification du mot de passe</h1>

	<div class="card mt-3 w-auto">
		<div class="card-body">

			<span class="important__label">(*) champs obligatoires</span>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
